ENVIRONMENT=development

GEMINI_API_KEY=

DATABASE_URL=

NEXT_PUBLIC_SUPABASE_URL=https://kyitvhuzkdjnwujibdhl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_jgmKm0bnQ8jeJpXU5R_66Q_cVw9EGQ2

# DJANGO
DEBUG=True
SECRET_KEY = 'django-secret-key'

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=no-reply@consultoritas.local
