ENVIRONMENT=development

GEMINI_API_KEY=

DATABASE_URL=

NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# DJANGO
DEBUG=True
SECRET_KEY=<your-generated-secret>
CSRF_TRUSTED_ORIGINS=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# ==========================================
# CONFIGURACIÓN DE CORREOS (SMTP PRODUCCIÓN)
# ==========================================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=tu-correo@gmail.com
EMAIL_HOST_PASSWORD=tu-contraseña-de-aplicación-de-16-dígitos

DEFAULT_FROM_EMAIL=no-reply@consultoritas.com
