ENVIRONMENT=development

GEMINI_API_KEY=

DATABASE_URL=

NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# DJANGO
DEBUG=True
# Example placeholder - replace with a secure key for your local env.
SECRET_KEY=CHANGE_ME
CSRF_TRUSTED_ORIGINS=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# ==========================================
# CONFIGURACIÓN DE CORREOS (SMTP PRODUCCIÓN)
# ==========================================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# OPCIÓN 1: RESEND (Recomendado: Más rápido y sencillo)
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=resend
EMAIL_HOST_PASSWORD=re_aqui_tu_api_key_de_resend

# OPCIÓN 2: GMAIL
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_USE_SSL=False
# EMAIL_HOST_USER=tu-correo@gmail.com
# EMAIL_HOST_PASSWORD=tu_app_password

DEFAULT_FROM_EMAIL=no-reply@consultoritas.com
